{% block content %}

<title>Staff Website - View Feedback</title>
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body{
        background-image: url("/static/staffbackground.jpg");
        font-family: oswald;
        color: #242766;
    }

    .display-4, #feedbackcount{
        text-align: center;
        }

    #firsttable {
            position: relative;
            margin-top: 2%;
            margin-left: 10%;
            text-align: center;
            font-size: 20px;
            border-collapse: collapse;
            font-weight: bold;
            background-color: #FDD736;
            width: 80%;
        }

    #secondtable{
        position: relative;
        margin-top: 2%;
        margin-left: 75%;
        width: 15%;
        text-align: center;
        font-size: 20px;
        border-collapse: collapse;
        font-weight: bold;
    }

    table tr, td{
        border: 5px solid #242766;
        background-color: white;
        color: #242766;
    }
    table th{
        border: 5px solid #242766;
        background-color: white;
        color: #242766;
    }
</style>

<body>
<div>
    <h1 class="display-4" style="text-align:center;">View Feedback</h1>
    <hr>
        <div>
            <table id="firsttable" cellpadding="10px">

                <tbody>
                    {% for feedback in feedbackList %}
                        <tr>
                            <th width="20%">First Name:</th>
                            <td>{{ feedback.get_firstName() }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Last Name:</th>
                            <td>{{ feedback.get_lastName() }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Email:</th>
                            <td>{{ feedback.get_email() }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Contact:</th>
                            <td>{{ feedback.get_phone() }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Region:</th>
                            {% if feedback.get_region() == "AS" %}
                            <td>Asia</td>
                            {% elif feedback.get_region() == "AM" %}
                            <td>Africa</td>
                            {% elif feedback.get_region() == "AF" %}
                            <td>Africa</td>
                            {% elif feedback.get_region() == "EU" %}
                            <td>Europe</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th width="20%">How would you rate your overall satisfaction with the webpage?:</th>
                            <td>{{ feedback.get_surveyOne() }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Would you visit our website again?:</th>
                            <td>{{ feedback.get_surveyTwo() }}</td>
                        </tr>
                        <tr>
                            <th width="20%">How can we improve?:</th>
                            <td>{{ feedback.get_improvements() }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    <hr>

    <table id="secondtable" cellpadding="10px">
     <tbody>
      <tr>
      <td width="5%" style="background-color: lightgreen;">
       <a href="/retrieve_feedback" style="color: #242766; text-decoration:none;">BACK</a>
      </td>
      </tr>
     </tbody>
    </table>


</div>
</body>
{% endblock %}
